*.pyc
*.spyproject
.spyproject/*.*
.vscode
.mypy_cache
.env
*.env
*.code-workspace
archive
network

#projects # elb projects
projects/private # keep all private projects in the private folder

/dist/
/*.egg-info
.DS_Store
